<?xml version="1.0"?>
<robot name="roborts" xmlns:xacro="http://wiki.ros.org/xacro">


  <xacro:include filename="$(find roborts_description)/urdf/bases/roborts_base.gazebo.xacro" />

  <xacro:macro name="roborts_base" params="prefix publish_bf hq">

  <!-- Robot mechanical and motor parameters -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="wheel_radius" value="0.127" />

	<!-- BASE FOOTPRINT -->
	  <xacro:if value="${publish_bf}">
		<link name="${prefix}base_footprint">
		  <visual>
			  <origin xyz="0 0 0" rpy="0 0 0" />
			  <geometry>
				 <box size="0.001 0.001 0.001" />
			  </geometry>
		  </visual>
		</link>

		<joint name="${prefix}base_footprint_joint" type="fixed">
		  <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" /> <!-- ${wheel_radius} property must be defined inside wheel description -->
		  <parent link="${prefix}base_footprint"/>
		  <child link="${prefix}base_link" />
		</joint>
	  </xacro:if>

  <!-- BASE_LINK -->
  <link name="${prefix}base_link">
    <inertial>
      <mass value="125.0" />
      <origin xyz="0 0 0" />
      <inertia  ixx="1.391" ixy="0.004"  ixz="0.0"  iyy="6.853"  iyz="0.0"  izz="6.125" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <xacro:if value="${hq}">
      <geometry>
      <mesh filename="package://roborts_description/meshes/bases/bot.stl"/>
      </geometry>
      </xacro:if>
      <xacro:unless value="${hq}">
      <geometry>
      <mesh filename="package://roborts_description/meshes/bases/bot.dae"/>
      </geometry>
      </xacro:unless>
      <material name="black">
        <color rgba="0.0 0.0 0.0 1"/>
      </material>
    </visual>
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0 " />
       <geometry>
         <mesh filename="package://roborts_description/meshes/bases/bot.dae"/>
       </geometry>
    </collision>
  </link>

  <gazebo reference="${prefix}base_link">
    <material>Gazebo/Black</material>
  </gazebo>

   <!-- DOCKING CONTACT -->

    <link name="${prefix}base_docking_contact">
    </link>

    <joint name="${prefix}base_docking_joint" type="fixed">
      <origin xyz="0.35 0 0.0" rpy="0 0 0" />
      <parent link="${prefix}base_link"/>
      <child link="${prefix}base_docking_contact" />
    </joint>

  </xacro:macro>
</robot>
